<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>myStock - A Ticker Tracker</title>
  </head>
  <body ng-app='MyStock'>
    <div ng-controller="TickerController">
    <h1>MyStock</h1>
    <h4><em>A Ticker Tracker</em></h4>
    <div>
      <input type="text" placeholder="Enter ticker here." ng-model="newTicker" name='tickerSymbol'/>
      <button ng-click='tickerSubmitter()'>Add</button><br/>
      <ul>
        <li ng-repeat="ticker in tickers track by $index" ng-click="tickers.splice($index, 1)">
          <div ng-style="ticker['style']">{{ticker.short}}, {{ticker.price}}, {{ticker.name}}, {{ticker.time}}</div>
        </li>
      </ul>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
